.doughnut-wrapper{
    max-width: 200px;

    &::before{
        content: attr(data-content);
        position: relative;
        top: 50%;
        font-size: 50px;
        color: eval(attr(data-color));
        // color: red

    }
}

